boxmot==10.0.82
ultralytics==8.2.77
opencv-python==4.10.0.84
setuptools
scikit-learn
streamlit
fiftyone
torch==2.3.1+cu121
# package location
--find-links https://download.pytorch.org/whl/torch_stable.html
